<h1>Lista de usuarios</h1>

<h3 color: red><%=notice%></h3>
<p>Hay <%=@users.size%> usuarios </p>

<table>
	<tr>
		<th>Nombre del usuario</th>
		<th>Email</th>
		<th>Acciones</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<td>
				<%= link_to 'Ver detalle', url_for(controller: :users, action: :show,id: user.id)%> |  
				<%= link_to 'Editar',url_for(controller: :users,action: :edit, id: user.id)%> |
				<%= link_to 'Borrar',user,id: user.id, method: :delete, data:{confirm: "En serio lo quiere borrar?"}%>
			</td>
		</tr>
	<% end %>
</table>

